__pycache__/
*.pyc
*.pyo
*.swp
*.swo
*.db
*.sqlite3
node_modules/
.env
.DS_Store
*.log
*.bak
*.tmp
*.orig
*.egg-info/
*.idea/
*.vscode/
dist/
build/
*.csv
*.pdf
*.xlsx
*.zip
*.tar.gz
*.ipynb
public/dist/
public/node_modules/